body {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  height: 100%;
  background: -webkit-linear-gradient(bottom left, #ff9933 0%, #ffcc00 100%); }

.conteiner {
  margin: 0 auto;
  padding: 50px 0;
  width: 94%;
  height: 100%;
  box-sizing: border-box;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column; }

.header-txt {
  width: 100%;
  text-align: center; }

h1 {
  font-size: 64px;
  margin: 0 0 10px 0;
  text-transform: uppercase;
  color: #fff;
  font-family: sans-serif;
  font-weight: 600;
  width: 100%; }
  h1:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: #fff; }

p {
  margin: 0 0 20px 0;
  font-size: 24px;
  font-weight: 400; }

h2 {
  font-size: 45px;
  margin: 0 0 50px 0;
  text-transform: uppercase;
  color: #000;
  font-family: sans-serif;
  font-weight: 600; }

.btn-img {
  background-color: transparent;
  outline: none;
  border: 0px;
  margin: 0 10px; }
  .btn-img:hover {
    cursor: pointer; }

.game {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  width: 100%; }

.result {
  width: 100%;
  display: flex;
  justify-content: center; }

.result-human {
  width: 250px;
  font-size: 25px;
  color: #fff;
  height: 50px; }

.result-text {
  width: 550px;
  margin: 0 0 30px 0; }

.result-comp {
  width: 250px;
  font-size: 25px;
  color: #fff;
  height: 50px; }

.quote {
  width: 100%;
  display: block;
  text-align: center;
  display: flex;
  justify-content: center; }
  .quote-text {
    width: 500px;
    background-color: #fff;
    border-radius: 10px;
    height: 200px; }

.result-title {
  font-size: 65px;
  margin: 0 0 10px 0;
  text-transform: uppercase;
  font-family: sans-serif;
  font-weight: 600;
  width: 100%; }

.result-title-victory {
  color: green;
  font-size: 60px;
  text-align: center;
  font-weight: 600; }

.result-title-draw {
  color: black;
  font-size: 60px;
  text-align: center;
  font-weight: 600; }

.result-title-defeat {
  color: red;
  font-size: 60px;
  text-align: center;
  font-weight: 600; }
